﻿@model IEnumerable<SalesManagementDemo.Models.ShopDetails>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ShopName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShopAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhonNo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ShopName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShopAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhonNo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ShopId }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.ShopId }) |*@
            @Html.ActionLink("Delete", "Delete", new { id=item.ShopId })
        </td>
    </tr>
}

</table>
