﻿<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/ShowRout.js"></script>
@*<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css' rel='stylesheet' />*@
@*<script src='https://maps.googleapis.com/maps/api/directions/json?origin =Toronto&destination =Montreal&avoid =highways&mode =bicycling&key =AIzaSyBcEoO0NLk2LGWUwQ8Afelg47ifpnxhLtY'></script>*@

    <style > .mapIconLabel {
        font-size: 15px;
        font-weight: bold;
        color: #FFFFFF;
        font-family: 'DINNextRoundedLTProMediumRegular';
    }

</style>
<script>
    var dr = 0;
    var source, destination;
   
    //var directionsDisplay;

    function GetRoute() {
        var flag = 0;
        var colors = ['#ff0000', '#00ff00', '#0000ff', '#ffff00', '#ff00ff', '#00ffff'];
        $.getScript("/Scripts/MarkerWithLabel.js#{applicationBean.version}", function(){
            var mumbai = new google.maps.LatLng(19.986432, 73.786312);
            var mapOptions = {
                zoom: 7,
                center: mumbai
            };
            map = new google.maps.Map(document.getElementById('map'), mapOptions);
            var directionsDisplay = new google.maps.DirectionsRenderer(
             {
                 map: map
             });

            //*********DIRECTIONS AND ROUTE**********************//
            var directionsService = new google.maps.DirectionsService();


           var trafficLayer = new google.maps.TrafficLayer();
           trafficLayer.setMap(map);

            var request = {
                origin: new google.maps.LatLng(19.987759, 73.800524),
                destination: new google.maps.LatLng(19.987759, 73.800524),
                waypoints: [{
                    location: new google.maps.LatLng(20.021008, 73.792636),
                   stopover: false
                },
                    {
                        location: new google.maps.LatLng(20.029176, 73.723418),
                    stopover: false
                },

                {
                            location: new google.maps.LatLng(20.027584, 73.744765),
                stopover: false
            },
                {
                    location: new google.maps.LatLng(19.994245, 73.787723),
                    stopover: false
            //    }, {
            //        location: new google.maps.LatLng(20.011958, 73.794167),
            //        stopover: false
            //    },
            //     {
            //         location: new google.maps.LatLng(20.011491, 73.788224),
            //         stopover: false
            //     },
            //     {
            //         location: new google.maps.LatLng(20.167899, 73.990483),
            //        stopover: false
                }],
                optimizeWaypoints: true,
                travelMode: google.maps.DirectionsTravelMode.DRIVING,
                //avoidHighways: true,
                //avoidTolls: true,
                //avoidTraffic: true
                provideRouteAlternatives: true,
               

            };

           
            directionsService.route(request, function (response, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                    directionsDisplay.setDirections(response);
                    var route = response.routes[0];
                    var bounds = new google.maps.LatLngBounds();
                    var route = response.routes[0];
                 
                    startLocation = new Object();
                    endLocation = new Object();
                    var polyline = new google.maps.Polyline({
                        path: [],
                        strokeColor: '#FF0000',
                        //strokeWeight: 3
                    });


                   

                    //---------------------munimum distance privority-----

                    //var stopandkm=[];
                    //var startpoint = new google.maps.LatLng(19.986134, 73.801082);
                    //var waypoint = response.routes[0].legs;
                    //for (i = 0; i < waypoint[0].via_waypoints.length; i++) {

                    //    var stop = waypoint[0].via_waypoints[i];
                    //    var dist =(google.maps.geometry.spherical.computeDistanceBetween(startpoint, stop) / 1000).toFixed(2)

                    //    stopandkm.push({ location: stop, km: dist })
                    //}



                    //for (i = 0; i < stopandkm.length; i++)
                    //{
                    //    //var pathItem = [waypoint[0].start_location, stopandkm[i].location];
                    //    //console.log("logData", pathItem);
                    //    //    var flightPath = new google.maps.Polyline({
                    //    //   path: pathItem,
                    //    //    geodesic: true,
                    //    //    strokeColor: '#FF0000',
                    //    //    strokeOpacity: 1.0,
                    //    //    strokeWeight: 2
                    //    //  });

                    //    //    flightPath.setMap(map);
                    //    //    google.maps.event.addDomListener(window, 'load', initMap);

                    //    var _request = {
                    //        origin: stopandkm[i].location,
                    //        destination: waypoint[0].start_location,
                    //        optimizeWaypoints: true,
                    //        travelMode: google.maps.DirectionsTravelMode.DRIVING,

                    //    };
                    //    var newdirectionsService = new google.maps.DirectionsService();
                    //    var newdirectionsDisplay = new google.maps.DirectionsRenderer(
                    //    {
                    //        map: map
                    //    });
                    //    newdirectionsService.route(_request, function (_response, _status) {

                    //        if (_status == google.maps.DirectionsStatus.OK) {

                    //            newdirectionsDisplay.setDirections(_response);
                    //        }

                    //    });
                    //}

                   ///////---------------------munimum distance privority-----

                    var stopPath = [];
                    var legs = response.routes[0].legs;
                    for (i = 0; i < legs.length; i++) {
                        if (i == 0) {
                            startLocation.latlng = legs[i].start_location;
                            startLocation.address = legs[i].start_address;

                        } else {
                            waypts[i] = new Object();
                            waypts[i].latlng = legs[i].start_location;
                            waypts[i].address = legs[i].start_address;
                        }
                        endLocation.latlng = legs[i].end_location;
                        //console.log("[" + i + "] " + endLocation.latlng.toUrlValue(6));
                        endLocation.address = legs[i].end_address;
                        var steps = legs[i].steps;

                     

                        for (j = 0; j < steps.length; j++) {
                            var nextSegment = steps[j].path;
                            for (k = 0; k < nextSegment.length; k++) {
                                polyline.getPath().push(nextSegment[k]);
                                bounds.extend(nextSegment[k]);

                              

                            }
                        }
                        ///-----distance priority
                        var stapes = response.routes[0].overview_path
                        //for (b = 0; b < stapes.length; b++) {
                        //    for (a = 0; a < request.waypoints.length; a++) {
                        //        //console.log("logData", steps[b].start_location.lat(), request.waypoints[a].location.lat());
                        //        if (stapes[b] == request.waypoints[a].location) {
                        //            console.log("logData", stapes[b].lat(), request.waypoints[a].location.lat())
                        //            stopPath.push(request.waypoints[a])
                        //        }
                        //    }
                        //}
                        ///-----distance priority
                    }

                    //////----calculate Distance------------------------------
                    if (status == google.maps.DirectionsStatus.OK) {
                        var dvDistance = document.getElementById("dvDistance");
                        var distance = 0;
                        var minute = 0.00;
                        response.routes[0].legs.forEach(function (item, index) {
                            if (index < request.waypoints.length - 1) {
                                distance = distance + parseInt(item.distance.text);
                                minute = parseFloat(minute) + parseFloat(item.duration.value / 60);
                                tbl = document.getElementById("tblResults");
                                if (tbl.rows.length != 1)
                                {
                                    tbl.deleteRow(1);
                                }

                                var row = tbl.insertRow(1);
                                var cell = row.insertCell(0);
                                cell.innerText = item.start_address;
                                var cell = row.insertCell(1);
                                cell.innerText = item.end_address;
                                var cell = row.insertCell(2);
                                cell.innerText = distance + " km";
                                var cell = row.insertCell(3);
                                cell.innerText = minute.toFixed(2) + " min";
                            }
                        });
                        directionsDisplay.setDirections(response);
                    }
                    else {
                        //handle error
                    }
                    //////----calculate Distance-------------------------

                    ////--------tmp Practice----
                    var stopandkm = [];
                   
                    var waypoint = response.routes[0].legs;
                    var startpoint = waypoint[0].start_location;
                    for (i = 0; i < waypoint[0].via_waypoints.length; i++) {

                        var stop = waypoint[0].via_waypoints[i];
                        var dist = (google.maps.geometry.spherical.computeDistanceBetween(startpoint, stop) / 1000).toFixed(2)

                        stopandkm.push({ location: stop, km: dist })
                    }

                    var tmpStops = stopandkm.sort(function (a, b) {
                        return a.km - b.km;
                    });
                    var stpoint;//nxtstpoint;
                    var stopPath = [];

                    while (stopandkm.length > 0) {

                        if (flag == 0) {
                             stpoint = tmpStops[0];

                            flag++;
                            stopPath.push(stpoint);
                            stopandkm.splice($.inArray(stpoint, stopandkm), 1);

                        }

                        else {
                            var tmpArry = [];
                            for (i = 0; i < stopandkm.length; i++) {

                                var stop = stopandkm[i].location;
                                var dist = (google.maps.geometry.spherical.computeDistanceBetween(stpoint.location, stop) / 1000).toFixed(2);
                                tmpArry.push({ location: stop, km: dist })
                            }
                            var tmpStops = tmpArry.sort(function (a, b) {
                                return a.km - b.km;
                            });
                            stpoint = tmpStops[0];
                            stopPath.push(stpoint);

                            //stopandkm.splice($.inArray(stpoint, stopandkm), 1);
                            var removieitem = stopandkm.filter(s =>s.location == stpoint.location)
                            stopandkm.splice($.inArray(removieitem[0], stopandkm), 1);
                        }

                    }
                    ////--------tmp Practice----

                    ///////------------numbering to waypoints-------------------
                    var directionsService = new google.maps.DirectionsService();

                    //var legss = request.waypoints;

                    //var legss = stopandkm.sort(function (a, b) {
                    //    return a.km - b.km;
                    //});
                    var legss = stopPath;

                    for (var i = 0; i < legss.length; i++) {
                        createMarker(i + 1, map, legss[i]);
                        //extendBounds(bounds, legs[i]);
                    }
                    function createMarker(number, currentMap, currentMapData) {
                       // console.log("logData",currentMapData.location.lat());
                        var marker = new MarkerWithLabel({

                            position: new google.maps.LatLng(currentMapData.location.lat(), currentMapData.location.lng()),
                            map: currentMap,
                            //icon: '/Image/Map-Marker-Ball-Pink-icon.png',
                            //shadow: '/Image/bubble_transparent.png',
                            //transparent: '/Image/bubble_transparent.png',
                            draggable: false,
                            raiseOnDrag: false,
                            labelContent: "" + number,
                            labelAnchor: new google.maps.Point(3, 30),
                            labelClass: "mapIconLabel", // the CSS class for the label
                            labelInBackground: false
                        });

                    }
                    ///////------------numbering to waypoints-------------------
                    
                    //var tmpdata = response.routes[0].legs[0].steps

                    //pathPoint(tmpdata);

                    //var waypoints = polyline.GetPointsAtDistance(5000);
                    //for (var i = 0; i < waypoints.length; i++) {
                    //    createMarker(waypoints[i], "" + (i + 1), (i + 1) * 5 + " km");
                    //}
                } else {
                    alert("directions response " + status);
                }

          });
        });
    }
    function pathPoint(tmpdata)
    {
        var mumbai = new google.maps.LatLng(19.986432, 73.786312);
        var mapOptions = {
            zoom: 7,
            center: mumbai
        };
        map = new google.maps.Map(document.getElementById('map'), mapOptions);
        var directionsDisplay = new google.maps.DirectionsRenderer(
         {
             map: map
         });
        var waypoint = [];
        for (i = 0; i < tmpdata.length; i++)
        {
            waypoint.push({ location: tmpdata[i].lat_lngs, stopover: false });
        }

        //*********DIRECTIONS AND ROUTE**********************//
        var directionsService = new google.maps.DirectionsService();


        var trafficLayer = new google.maps.TrafficLayer();
        trafficLayer.setMap(map);

        var request = {
            origin: new google.maps.LatLng(19.987759, 73.800524),
            destination: new google.maps.LatLng(19.987759, 73.800524),
            waypoints: waypoint,
            optimizeWaypoints: true,
            travelMode: google.maps.DirectionsTravelMode.DRIVING,
       
            provideRouteAlternatives:true

        };


        directionsService.route(request, function (response, status) {
            if (status == google.maps.DirectionsStatus.OK) {
                directionsDisplay.setDirections(response);
            }
        });

    }

    function getLocation() {


            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(success);
            } else {
                alert("There is Some Problem on your current browser to get Geo Location!");
            }

            function success(position) {
                var lat = position.coords.latitude;
                var long = position.coords.longitude;
                var mapProp = {
                    center: new google.maps.LatLng(lat, long), //India Lat and Lon
                    zoom: 13,
                    mapTypeId: google.maps.MapTypeId.ROADMAP

                };
                map = new google.maps.Map(document.getElementById("map"), mapProp);
                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(lat, long),
                    // zoom: 15,
                   // icon: "/Image/Map-Marker-Ball-Pink-icon.png",
                    map: map
                });
            }

    }

</script>
<h2>Index</h2>
<hr>
<div>
    <label class="control-label col-md-2">Sales Person :</label>
    @Html.DropDownList("SalesPersonId", new SelectList(ViewBag.SalesPerson, dataTextField: "SalesPersonName", dataValueField: "SalesPersonId"), "--Select Sales Person--")
</div>
<br />
<div>
    <label class="control-label col-md-2">Shops :</label>
    @{
        foreach (var item in ViewBag.ShopDetails)
        {
            <input type="checkbox" id="ShopList" name="ShopList" value="@item.ShopId" /><span>@item.ShopName</span>


        }
    }

</div>

@*@Html.DropDownList("ShopId", new  SelectList(ViewBag.shopList,dataValueField: "ShopId",dataTextField: "ShopName"),"--Select Shop---")*@
<br /><br />
<input type="button" id="showmylocation" value="Show MY Location" onclick="getLocation();" />
<br /><br />
<input type="button" id="showrout" value="Show" />
<br /><br />

<input type="button" onclick="GetRoute();" value="Show Rout" />
<br /><br />


<div id="dvDistance">
    <table id="tblResults" border="1" cellpadding="10">
        <tr>
            <th> Start </th>
            <th> End </th>
            <th> Distance </th>
            <th> Duration </th>
        </tr>
    </table>
</div>

<br /><br />
<div style="height:200px;width:200px">
    <div id="map"></div>
</div>
