﻿@using SalesManagementDemo.Models
@model RoutDetails
@{
    ViewBag.Title = "Index";
}

<h2>Assigned Rout</h2>
<hr />


    @using (Html.BeginForm("Index", "RoutDetails", FormMethod.Post))
    {
        <div>
            <label class="control-label col-md-2">Sales Person :</label>
            @Html.DropDownList("SalesPersonId", new SelectList(ViewBag.SalesPerson, dataTextField: "SalesPersonName", dataValueField: "SalesPersonId"), "--Select Sales Person--")
        </div>
        <br />
        <div>
            <label class="control-label col-md-2">Shops :</label>
            @{
                foreach (var item in ViewBag.ShopDetails)
                {
                    <input type="checkbox" id="ShopList" name="ShopList" value="@item.ShopId" /><span>@item.ShopName</span>

                }
            }
            <br /><br />
            <input type="submit" value="Save Rout"/>
        </div>
                }
<br /><br />
<table border="2">
    <tr>
        <th>Sales Person Name</th>
        <th> Shops </th>
    </tr>
    @{  foreach (RoutDetailsByPerson key in ViewBag.SalesPersonDetails)
        {
            <tr>
                <td>@key.SalesPersonName</td>
                <td>
                    <ul>
                        @foreach (var record in key.shopList)
                        {
                            <li>@record</li>
                        }
                    </ul>
                </td>
            </tr>
        }
    }

</table>

